<div class="flex flex-col justify-between gap-6 md:flex-row md:items-center">
  <!-- Botón de menú para pantallas pequeñas -->
  <div class="capitalize order-1 md:order-1">
    <button class=" flex items-center p-2.5 text-gray-700 ml:order-1 " (click)="onToggleSidebar()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
        stroke-width="3" class="h-6 w-auto text-blue-gray-500 mr-2">
        <path fill-rule="evenodd"
          d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
          clip-rule="evenodd"></path>
      </svg>
      <img class="h-8 w-auto mr-2" src="https://cdn-icons-png.flaticon.com/512/1083/1083799.png" alt="peluches star" />
      <p class=" block antialiased font-sans text-lg leading-relaxed text-inherit font-medium capitalize ">
        peluches star  
      </p>
    </button>
  </div>
  <!-- listado de referencias de pagina-->
  <div class="capitalize order-2 md:order-2 justify-items-center w-full" >
    <nav aria-label="breadcrumb" class="w-max">
      <ol class="flex flex-wrap items-center w-full bg-opacity-60 rounded-md bg-transparent p-0 transition-all">
        <li
          class="flex items-center text-blue-gray-900 antialiased font-sans text-sm font-normal leading-normal cursor-pointer transition-colors duration-300 hover:text-light-blue-500">
          <a href="#">
            <p
              class="block antialiased font-sans text-sm leading-normal text-blue-900 font-normal opacity-50 transition-all hover:text-blue-500 hover:opacity-100">
              dashboard
            </p>
          </a>
          <span
            class="text-gray-500 text-sm antialiased font-sans font-normal leading-normal mx-2 pointer-events-none select-none">/</span>
        </li>
        <li
          class="flex items-center text-blue-900 antialiased font-sans text-sm font-normal leading-normal cursor-pointer transition-colors duration-300 hover:text-blue-500">
          <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal" style="width: 150px">
            home
          </p>
        </li>
      </ol>
    </nav>
    <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-gray-900">
      home
    </h6>
  </div>
</div>