<main class="h-screen flex items-center justify-center bg-[var(--bg-color)] text-[var(--text-color)]">
  <div class="bg-[var(--bg-color)] text-[var(--text-color)">
    <div class="relative isolate px-6 pt-14 lg:px-8 z-10">
      <div class="mx-auto max-w-2xl py-22 sm:py-38 lg:py-46">
        <div class="hidden sm:mb-8 sm:flex sm:justify-center">
          <div class="relative rounded-full px-3 py-1 text-sm/6 ring-1 hover:ring-gray-900/20 bg-[var(--bg-color)] text-[var(--text-color)]" >
           Mira Nuestras Redes Sociales. <a href="#" class="font-semibold text-indigo-600"><span class="absolute inset-0" aria-hidden="true"></span>Mostrar más <span aria-hidden="true">&rarr;</span></a>
          </div>
        </div>
        <div class="text-center ">
          <h1 class="bg-[var(--bg-color)] text-[var(--text-color)] text-balance text-5xl font-semibold tracking-tight  sm:text-7xl">Peluches Star</h1>
            <p class="mt-8 text-pretty text-lg font-medium text-gray-500 sm:text-xl/8">Un lugar donde puedes encontrar los mejores peluches para regalar a todas esas personas especiales en nuestra vida.</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="#" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Empecemos</a>
            <a href="#" class="text-sm/6 font-semibold bg-[var(--bg-color)] text-[var(--text-color)]">Contactanos <span aria-hidden="true">→</span></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>