<header class="bg-[var(--nav-bg-color)] text-[var(--nav-text-color)]">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img class="h-8 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600" alt="">
        </a>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="#" class="text-sm font-semibold leading-6 text-[var(--nav-text-color)] hover:text-[var(--nav-hover-text-color)]">Home</a>
        <a href="#" class="text-sm font-semibold leading-6 text-[var(--nav-text-color)] hover:text-[var(--nav-hover-text-color)]">About</a>
        <a href="#" class="text-sm font-semibold leading-6 text-[var(--nav-text-color)] hover:text-[var(--nav-hover-text-color)]">Services</a>
        <a href="#" class="text-sm font-semibold leading-6 text-[var(--nav-text-color)] hover:text-[var(--nav-hover-text-color)]">Contact</a>
        <a href="#" class="text-sm font-semibold leading-6 text-[var(--nav-text-color)] hover:text-[var(--nav-hover-text-color)]">Blog</a>
      </div>
      <button id="theme-toggle" class="ml-4 p-2 bg-[var(--button-bg-color)] rounded">
        Toggle Dark Mode
      </button>
    </nav>
  </header>
  
  <main class="h-screen flex items-center justify-center bg-[var(--bg-color)] text-[var(--text-color)]">
    <div class="flex flex-col items-center">
      <h1 class="text-4xl font-bold">{{title}}</h1>
      <img class="w-10 flex m-auto" src="../favicon.ico" alt="" srcset="" />
    </div>
  </main>
  <div>
    <app-componente-2></app-componente-2>
  </div>
