<div class="bg-[var(--bg-color)] text-[var(--text-color)">
    <div class="relative isolate px-2 pt-12 pb-6 lg:px-4 z-5">
      <div class="mx-auto max-w-2xl py-22 sm:py-38 lg:py-46">

        <div class="text-center ">
          <h1 class="bg-[var(--bg-color)] text-[var(--text-color)] text-balance text-5xl font-semibold tracking-tight  sm:text-7xl">Peluches Originales y Personalizados</h1>
            <p class="mt-8 text-pretty text-lg font-medium text-gray-500 sm:text-xl/8">Peluches Star ofrece una amplia variedad de peluches y también realiza pedidos personalizados. Con muchos años en el mercado, somos expertos en crear momentos especiales con nuestros productos únicos.</p>
        
          
        </div>
      </div>

    </div>
  </div>