<div class=" py-10">
  <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-center text-base/7 font-semibold text-indigo-600">Entregas a todo Ecuador</h2>
    <p class="mx-auto mt-2 max-w-lg text-balance text-center text-4xl font-semibold tracking-tight text-gray-950 sm:text-5xl">Peluches Originales y Personalizados</p>
    <div class="mt-10 grid gap-4 sm:mt-16 lg:grid-cols-3 lg:grid-rows-2">
      <div class="relative lg:row-span-2">
        <div class="absolute inset-px rounded-lg lg:rounded-l-[2rem]" [style.background-image]="'url(' + ImagenFondoOso + ')'" style="background-size: contain; background-position: top;"></div>
        <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] lg:rounded-l-[calc(2rem+1px)]">
          <div class="px-8 pb-3 pt-8 sm:px-10 sm:pb-0 sm:pt-10 ">
            <p class="mt-2 text-lg font-medium tracking-tight text-gray-950 text-center ">¿Buscas algo único o quieres el peluche más popular del momento?</p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600 text-center">Contactanos para adquirir nuestros productos.</p>
          </div>
          <div class="relative min-h-[30rem] w-full grow [container-type:inline-size] max-lg:mx-auto max-lg:max-w-sm">
            <div class="absolute inset-x-10 bottom-0 top-10 overflow-hidden rounded-t-[12cqw] border-x-[3cqw] border-t-[3cqw] border-gray-700 bg-gray-900 shadow-2xl">
              <img class="size-full object-cover object-top" src="https://img.freepik.com/foto-gratis/textura-juguete-esponjoso-cerca_23-2149686928.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 lg:rounded-l-[2rem]"></div>
      </div>
      <div class="relative max-lg:row-start-2 align-middle " >
        <div class="absolute inset-0 rounded-lg  max-lg:rounded-t-[2rem]" ></div>
        <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] justify-center "  [style.background-image]="'url(' + ImagenFondoOso + ')'" style="background-size: cover;" >
            <div class="px-8 sm:px-10 max-lg:pb-12 lg:pb-2 "  >
            <p class="mt-2 text-xl font-medium tracking-tight text-gray-950 text-center py-4">Fabricación</p>
            <p class="mt-2 max-w-lg text-lg text-gray-600 text-center"><b>Normal:</b> 3 - 4 días.</p>
            <p class="mt-2 max-w-lg text-lg text-gray-600 text-center"><b>Personalizados:</b> 5 - 10 días.</p>
          </div>
        </div>
        <div class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 max-lg:rounded-t-[2rem]"></div>
      </div>
      <div class="relative max-lg:row-start-3 lg:col-start-2 lg:row-start-2 " >
        <div class="absolute inset-px rounded-lg"></div>
        <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)]" [style.background-image]="'url(' + ImagenFondoOso + ')'" style="background-size: cover;" >
          <div class="px-8 pt-8 sm:px-10 sm:pt-10" >
            <p class="mt-2 text-lg font-medium tracking-tight text-gray-950 text-center">Envios</p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600 text-center pb-4">Realizamos envios a todo Ecuador por Servientrega y dentro de Quito por UberEntregas.</p>
          </div>
          <div class="flex justify-center items-center [container-type:inline-size] max-lg:py-6 lg:pb-2">
            <div class="flex items-center ">
              <img class="h-[min(152px,40cqw)] object-cover rounded-full" src="https://i.pinimg.com/originals/83/58/74/8358746dc8ee6c752ecfdcafc4169bea.png" alt="">
            </div>
            <div class="flex items-center ml-4">
              <img class="h-[min(152px,40cqw)] object-cover" src="https://freelogopng.com/images/all_img/1659761297uber-icon.png" alt="">
            </div>
          </div>
        </div>
        <div class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5"></div>
      </div>
      <div class="relative lg:row-span-2">
        <div class="absolute inset-px rounded-lg bg-white max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]" ></div>
        <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:rounded-b-[calc(2rem+1px)] lg:rounded-r-[calc(2rem+1px)]" [style.background-image]="'url(' + ImagenFondoOso + ')'" style="background-size: contain;">
          <div class="px-8 pb-3 pt-8 sm:px-10 sm:pb-0 sm:pt-10" >
            <p class="mt-2 text-lg font-medium tracking-tight text-gray-950 text-center">Calificanos y Siguenos</p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600 text-center">Puedes seguirnos en nuestras redes sociales y dejarnos tus comentarios.</p>
          </div>
          <div class="relative min-h-[30rem] w-full grow [container-type:inline-size] max-lg:mx-auto max-lg:max-w-sm">
            <div class="absolute inset-x-10 bottom-0 top-10 overflow-hidden rounded-t-[12cqw] border-x-[3cqw] border-t-[3cqw] border-gray-700 bg-gray-900 shadow-2xl">
              <img class="size-full object-top object-cover" src="https://blogger.googleusercontent.com/img/a/AVvXsEiKM2MPrqLrQyZ7gXbiLpJWPe6pFBagmptAaUzmGeOPKEahK6YhdqgHclD9Omfvj0JMRTuThTuKEt8zQRriHjcnhqRsoseR69My15RM4aKogOPCB9Jmz3pA6R5ZRXh3AxdY1QHbaJN-6BpJX0DULybZ-e74VEXI6ZaqX8RlFVuZJpC3A_a6I7ffCqcVQQ=s16000" alt="">
            </div>
          </div>
        </div>
        <div class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"></div>
      </div>
    </div>
  </div>
</div>